<template>
  <div>
    <login-component @submit='login' />
    <p v-if="user">
      user obtenu :
      {{user}}
    </p>
    <p v-if="user">
      SESSID : {{ user && user.SESSID}}
    </p>
    <p v-if="error" class="error">
      {{ error }}
    </p>
    <v-btn @click="loadManagementUnits">Load MUs</v-btn>
    <p>
      {{ units }}
    </p>
  </div>
</template>

<script>
import LoginComponent from '@/components/Login.vue';
import ApiService from '@/services/api';
import PreferencesService from '@/services/preferences';

export default {
  components: {
    LoginComponent,
  },
  data() {
    return {
      user: null,
      error: '',
      units: null,
    };
  },
  created() {
    if (PreferencesService.user) {
      this.user = PreferencesService.user;
    }
  },
  methods: {
    async login({ login, password }) {
      this.user = null;
      this.error = null;
      try {
        const response = await ApiService.login(login, password);
        if (response.data.success === 'false') {
          if (
            response.data.error === '1001'
          || response.data.error === '1000'
          ) {
            this.error = 'Utilisateur et/ou mot de passe incorrect.';
          } else {
            this.error = response.data.error;
          }
        } else {
        /**
         * we transform mus_id & alarms_groups to be more useable in the code
         */
          this.user = {
            ...response.data,
            // eslint-disable-next-line radix
            mus_id: response.data.mus_id.split(',').map(muid => parseInt(muid)),
            // eslint-disable-next-line radix
            alarms_groups: response.data.alarms_groups.split(',').map(alarm => parseInt(alarm)),
          };

          PreferencesService.user = this.user;
          this.$router.push('/visualization');
        }
      } catch (e) {
        this.error = e;
      }
    },
    async loadManagementUnits() {
      const responseMU = await ApiService.loadManagementUnits();
      this.units = responseMU.data;
    },
  },
};
</script>
