<template>
  <div class='List'>
    <v-text-field v-model='filterName'></v-text-field>
    <!-- <table>
      <tr
        v-for="person in dataFiltered"
        :key="person.id"
      >
        <td>{{person.name}}</td>
        <td>{{person.country}}</td>
        <td>{{person.club}}</td>
      </tr>
    </table> -->
    <!-- <RecycleScroller
      class="scroller"
      :items="dataFiltered"
      :item-size="16"
      key-field="id"
      v-slot="{ item }"
    >
      <div class="user">
        {{ item.name }}
      </div>
    </RecycleScroller> -->

    <RecycleScroller
      class="scroller"
      :items="dataFiltered"
      :item-size="20"
      key-field="id"
      v-slot="{ item }"
    >
      <div>
        <span style="display:inline-block; width: 400px">{{item.name}}</span>
        <span style="display:inline-block; width: 200px">{{item.country}}</span>
        <span style="display:inline-block; width: 200px">{{item.club}}</span>
      </div>
    </RecycleScroller>

    <!-- <v-data-table
      :items='dataFiltered'
      :headers='headers'
      item-key="id"
      select-all
    >
      <template v-slot:items="props">
        <tr>
          <td>
            <v-checkbox></v-checkbox>
          </td>
          <td>
            {{ props.item.id }}
          </td>
          <td>
            {{ props.item.name }}
          </td>
          <td>
            {{ props.item.country }}
          </td>
          <td>
            {{ props.item.club }}
          </td>
        </tr>
      </template>
    </v-data-table> -->
  </div>
</template>

<script>
import marathonData from '@/data/marathon.json';
import { RecycleScroller } from 'vue-virtual-scroller';
import 'vue-virtual-scroller/dist/vue-virtual-scroller.css';
/*
    {
      "id": 1,
      "name": "MILAW Abrha ",
      "country": "ETH",
      "club": ""
    },
*/
export default {
  components: {
    RecycleScroller,
  },
  data: () => ({
    filterName: '',
    headers: [{
      text: 'id',
      value: 'id',
      align: 'left',
      sortable: true,
      width: '150px',
    }, {
      text: 'Name',
      value: 'name',
      align: 'left',
      sortable: true,
      width: '175px',
    }, {
      text: 'Région',
      value: 'country',
      align: 'center',
      sortable: true,
      width: '150px',
    }, {
      text: 'Club',
      value: 'club',
      align: 'left',
      sortable: true,
    }],
  }),
  computed: {
    dataFiltered() {
      return marathonData.filter(d => d.name.indexOf(this.filterName) >= 0);
    },
  },
};
</script>


<style scoped>

.scroller {
  height: 500px;
  overflow: auto;
}

.user {
  height: 32%;
  padding: 0 12px;
  display: flex;
  align-items: center;
}
</style>
