<template>
  <v-layout class="visualization" column>
    <h1>This is the visualization page !</h1>
    <v-flex>
      <v-layout row style="height: 30rem">
        <v-flex elevation-2 xs4 pr-2>
          <available-plan
            class="pa-2"
            :image-tree-items="imageTreeWithPoints"
            :image-id="currentImage && currentImage.id"
            @input="updateImageId"
          />
        </v-flex>
        <v-flex elevation-2 xs9>
          <leaflet-map
            :image="currentImage"
            :polygons="polygonsToDisplay"
            :image-points="imagePointsToDisplay"
            :label="currentImage && currentImage.name"
            :events-length="currentImageTreeWithPoints.events"
            :selected-alarm="selectedAlarm"
            @click-polygon="updateImageId"
          />
        </v-flex>
      </v-layout>
      <v-layout row>
        <v-flex elevation-2 xs12 mt-4>
          <alarm-list
            :alarms="alarmsToDisplay"
            :selected-alarm="selectedAlarm"
            elevation-2
          />
          <v-btn @click="scheduleTimerAlarm">
            Schedule Timer
          </v-btn>
        </v-flex>
      </v-layout>
    </v-flex>
  </v-layout>
</template>

<script>
import AlarmList from '@/components/AlarmList.vue';
import AvailablePlan from '@/components/AvailablePlan.vue';
import LeafletMap from '@/components/LeafletMap.vue';

import store from '@/store/index';

export default {
  components: {
    AlarmList,
    AvailablePlan,
    LeafletMap,
  },
  data: () => ({
    selectedAlarm: null,
    currentImageId: null,
  }),
  computed: {
    alarmsToDisplay: store.computed.alarmsToDisplay,
    imageTreeWithPoints: store.computed.imageTreeWithPoints,
    currentImage: store.modules.images.computed.currentImage,
    currentImageTreeWithPoints: store.computed.currentImageTreeWithPoints,
    imagePointsToDisplay: store.computed.imagePointsToDisplay,
    polygonsToDisplay: store.computed.polygonsToDisplay,
  },
  created() {
    store.modules.units.actions.fetchManagementUnits();
    store.modules.markers.actions.fetchMarkers();
    store.modules.images.actions.fetchImages();
    store.modules.images.actions.fetchPolygons();
    store.modules.points.actions.fetchRefPoints();
    store.modules.alarms.actions.fetchAlarms();
  },
  methods: {
    updateImageId(imageId) {
      store.modules.shared.state.imageId = imageId;
    },
    scheduleTimerAlarm: store.modules.alarms.actions.scheduleTimerAlarm,
  },
};
</script>
