<template>
  <div class='AlarmList'>
    <v-data-table
      :items='alarms'
      :headers='headers'
      expand
      item-key="instance"
      no-data-text="Aucune alarme à afficher"
      no-results-text="Aucune alarme ne correspond à ces filtres"
      hide-actions
    >
      <template v-slot:items="props">
        <tr
          @click.stop="handleClick(props)"
          @dblclick.stop="handleDblClick(props)"
          :class="{ new: props.item.isNew }"
          :style="{
            'background-color': (props.item.instance === selectedAlarm ? 'gainsboro' : 'unset' )
          }"
        >
          <td>
            {{ props.item.creation_time }}
          </td>
          <td>
            <span
              class="status"
              :style="{ backgroundColor: props.item.marker.color }"
            ></span>
            {{ props.item.status_label }}
          </td>
          <td class="text-xs-center">
            {{ props.item.priority }}
          </td>
          <td>
            {{ props.item.unit.name }}
          </td>
          <td class="text-xs-center">
            {{ props.item.group }}
          </td>
          <td>
            {{ props.item.title }}
          </td>
          <td>
            <v-btn
              class='tamat-btn'
              v-for="(action, index) in props.item.actions"
              :key="'action-' + index"
              color="primary"
              outline
              @click.stop="$emit('action', action, props.item)"
            >
              {{ action.action_label }}
            </v-btn>
          </td>
        </tr>
      </template>

      <template v-slot:expand="props">
        <v-card flat>
          <v-card-text>
            <p v-if="props.item.description">
              {{ props.item.description }}
            </p>
            <p v-else>
              Aucune description pour cette alarme.
            </p>
          </v-card-text>
        </v-card>
      </template>
    </v-data-table>
  </div>
</template>

<script>
export default {
  props: {
    alarms: {
      type: Array,
      default: () => ([]),
    },
    selectedAlarm: {
      type: Number,
      default: null,
    },
  },
  data: () => ({
    headers: [{
      text: 'Heure de l\'alarme',
      value: 'creation_time',
      align: 'left',
      sortable: false,
      width: '150px',
    }, {
      text: 'Status',
      value: 'status_label',
      align: 'left',
      sortable: false,
      width: '175px',
    }, {
      text: 'Priorité',
      value: '',
      align: 'center',
      sortable: false,
      width: '150px',
    }, {
      text: 'Unité de gestion',
      value: 'location',
      align: 'left',
      sortable: false,
    }, {
      text: 'Groupe',
      value: 'group',
      align: 'center',
      sortable: false,
      width: '100px',
    }, {
      text: 'Titre',
      value: 'title',
      align: 'left',
      sortable: false,
    }, {
      text: 'Actions',
      sortable: false,
      width: '350px',
    }],
  }),
  methods: {
    clearTimeout() {
      if (this.intervalId !== null) {
        window.clearTimeout(this.intervalId);
      }
    },
    handleClick(props) {
      this.clearTimeout();
      this.$emit('input', props.item);
      this.intervalId = window.setTimeout(
        // eslint-disable-next-line no-param-reassign
        () => { props.expanded = !props.expanded; this.intervalId = null; },
        300,
      );
    },
    handleDblClick(props) {
      this.clearTimeout();
      this.$emit('dblclick', props.item.instance);
    },
  },
};
</script>

<style>
.AlarmList .Label {
  font-size: 1.4em;
  border-bottom: 2px solid #eee;
  padding: .5em;
}
.status {
  border-radius: 50%;
  width: 0.75em;
  height: 0.75em;
  display: inline-block;
}
tr.new {
  font-weight: bold;
}
table.v-table tbody .new td {
  font-weight: inherit;
}
table.v-table {
  user-select: none;
}
</style>
