<template>
  <div class="AvailablePlan"
  >
    <v-treeview
      v-model="tree"
      :active.sync="active"
      :items="imageTreeItems"
      v-if="imageTreeItems.length > 0"
      item-key="id"
      activatable
      hoverable
      open-all
    >
      <template v-slot:prepend="{ item, open }">
        <v-icon>
          {{ open ? 'mdi-folder-open' : 'mdi-folder' }}
        </v-icon>
      </template>
      <template v-slot:append="{ item }">
        <div
          class="events"
          v-if="item.events> 0"
        >{{item.events}}</div>
      </template>
      <template v-slot:label="{ item }">
        <div
          class="label"
        >{{item.name}}</div>
      </template>
    </v-treeview>
    <div v-else>
      Pas de plan à afficher
    </div>
  </div>
</template>

<script>

export default {
  props: {
    imageTreeItems: {
      type: Array,
      default: () => ([]),
    },
    imageId: {
      type: String,
      default: null,
    },
  },
  data: () => ({
    tree: [],
    active: [],
    /**
     * Help us to know if we have to display the map in popup
     */
    displayPopupMap: false,
    /**
     * Tree item to be displayed
     */
    imageToDisplay: null,
    popupStyle: {
      top: 0,
      left: '150px',
    },
  }),
  watch: {
    imageId: {
      immediate: true,
      handler(newValue) {
        if (newValue !== this.active[0]) {
          this.active = [newValue];
        }
      },
    },
    active(newValue) {
      if (newValue && newValue[0]) {
        this.$emit('input', newValue[0]);
      }
    },
  },
};
</script>

<style>
.AvailablePlan {
  background-color: white;
}
.AvailablePlan .Label {
  font-size: 1.4em;
  text-transform: uppercase;
  border-bottom: 2px solid #eee;
  padding: .5em;
}

.v-treeview {
  overflow: auto;
}
.v-treeview .events {
  border-radius: 50%;
  background-color: #f44336;
  height: 24px;
  border: 2px solid white;
  line-height: 20px;
  text-align: center;
  width: 24px;
  color: white;
  margin-left: 4px;
}

</style>
