/* ************* */
/* Marker's Icon */
/* ************* */
.square-icon .icon_container {
    background-color: white;
    border-radius: 4px 4px 4px 4px;
    height: 32px;
    width: 32px;
    box-shadow: 7px 10px 8px -5px black;
    /* opacity: 0.9; */
    background-color: #2470b5;
    text-align: center;
    line-height: 32px;
}
.square-icon .icon_container img {
    vertical-align: middle;
    max-width: 22px!important;
}
.square-icon .icon_arrow {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #f44336;
    height: 0;
    left: 8px;
    position: relative;
    width: 0;
    /* opacity: 0.9; */
}

.circle-icon .icon_arrow {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 16px solid #f44336;
    height: 0;
    left: 6px;
    position: relative;
    top: -4px;
    width: 0;
}
.circle-icon .icon_container {
    background-color: #f44336;
    color: white;
    font-weight: bold;
    border-radius: 16px 16px 16px 16px;
    box-shadow: 2px 2px 8px black;
    height: 32px;
    line-height: 32px;
    /* opacity: 0.9; */
    text-align: center;
    width: 32px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle-icon.selected .icon_container {
  transform: scale(1.5);
  box-shadow: 0px 0px 10px 5px gray;
}
.circle-icon.cluster .icon_container {
  border: 2px solid white;
  line-height: 28px;
}
.circle-icon .icon_container img {
  vertical-align: middle;
  max-width: 22px !important;
}

.ball-icon .icon_container {
    background-color: darkblue;
    background: radial-gradient(circle at 6px 38% , white -4px, darkblue 8px) repeat scroll 0 0 transparent;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 1px 21px 6px -3px black;
    height: 16px;
    /* opacity: 0.9; */
    text-align: center;
    width: 16px;
}
.ball-icon .icon_arrow {
    background-color: black;
    height: 16px;
    left: 7px;
    /* opacity: 0.9; */
    position: relative;
    top: 12px;
    width: 2px;
}

.icon_inside_circle {
  background-color: white;
  border-radius: 50%;
  height: 16px;
  width: 16px;

}
