<template>
  <div id='map' class='map' />
</template>

<script>
/* eslint-disable no-underscore-dangle */
import L from 'leaflet';
import 'leaflet/dist/leaflet.css';

function getMarkerIcon(props) {
  if (!props) return L.divIcon();
  if (props.isCluster === true) {
    return L.divIcon({
      html: `<div class="icon_container">${props.label}</div>`,
      className: 'circle-icon cluster',
      iconSize: [32, 32], // size of the icon
      iconAnchor: [16, 24], // point of the icon which will correspond to marker's location
      popupAnchor: [0, -32], // point from which the popup should open relative to the iconAnchor
    });
  }
  return L.divIcon({
    html: `
      <div
        class="icon_container"
        style="background-color: ${props.color}"
      >
        ${props.iconUrl !== '' ? `<img src='${props.iconUrl}'>` : '<div class="icon_inside_circle"></div>'}
      </div>
      <div class="icon_arrow" style="border-top-color: ${props.color};"></div>
    `,
    className: props.className,
    iconSize: [32, 48], // size of the icon
    iconAnchor: [16, 48], // point of the icon which will correspond to marker's location
    popupAnchor: [0, -48], // point from which the popup should open relative to the iconAnchor
  });
}

function updateMarkerColor(marker, props) {
  if (marker && marker._icon) {
    // eslint-disable-next-line no-param-reassign
    marker._icon.querySelector('.icon_container').style.backgroundColor = props.color;
    // eslint-disable-next-line no-param-reassign
    marker._icon.querySelector('.icon_arrow').style.borderTopColor = props.color;
  }
}

export default {
  name: 'leaflet-map',
  props: {
    image: {
      type: Object,
      default: null,
    },
    imagePoints: {
      type: Array,
      default: () => ([]),
    },
    polygons: {
      type: Array,
      default: () => ([]),
    },
    label: {
      type: String,
      default: 'Aucun plan affiché',
    },
    selectedAlarm: {
      type: Number,
      default: null,
    },
    miniature: {
      type: Boolean,
      default: false,
    },
    /**
     * number of events on the current plan
     */
    eventsLength: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      imageMarkers: [],
      geoMarkers: [],
      hasAlreadyBeenFitted: false,
    };
  },
  beforeCreate() {
    this.layers = {
      polygons: [],
      markers: [],
    };
  },
  mounted() {
    this.createMap();
  },
  methods: {

    createMap() {
      // create the map if not already done
      if (!this.map) {
        this.map = L.map('map');
      }

      if (this.image) this.loadImage();
      if (this.imagePoints.length > 0) this.displayMissingImagePoints();
      this.map.attributionControl.setPrefix('');
      if (this.polygons && this.polygons.length > 0) {
        this.displayPolygons();
      }
    },

    resetMap() {
      this.imageMarkers = [];
      this.map.eachLayer((layer) => {
        if (
          layer !== this.editableLayers
          && layer !== this.eventsGroup
          && this.map.hasLayer(layer)) {
          this.map.removeLayer(layer);
        }
      });
      this.map.options.minZoom = 5;
      this.map.options.maxZoom = 20;
      this.hasAlreadyBeenFitted = false;

      this.removePolygons();

      this.cleanImageMarkers();
      this.imageMarkers = [];

      this.map.invalidateSize();
    },

    loadImage() {
      const img = new Image();
      // we use local const variable to store the value of path
      const { path } = this.image;
      img.src = path;
      img.onload = () => {
        this.addImageLayer(path, img.width, img.height);
      };
    },

    addImageLayer(url, width, height) {
      /**
       * due to reactivity system,
       * when the app trigger a new alarm at boot,
       * the map will load the first image of hierarchy,
       * then the current image to display.
       * Unfortunately, two `this.loadImage` will be fired :
       * * one for the initial image
       * * another for the current image
       * They will in turn trigger two addImageLayer with the `onload` event
       * but we'll need only one, the last one,
       * the one which is linked to the `this.image.path`.
       * so we check this before adding the image overlay.
       */
      if (url !== this.image.path) return;
      const imageBounds = [[0, 0], [height / 1000, width / 1000]];
      const imageOverlay = L.imageOverlay(url, imageBounds);

      this.map.options.minZoom = this.map.getBoundsZoom(imageBounds) - 2;
      this.map.options.maxZoom = this.map.options.minZoom + 5;

      // imageOverlay.on('load', () => {
      //   this.map.setMaxBounds(L.latLngBounds(imageBounds).pad(1));
      // });

      imageOverlay.addTo(this.map);

      window.setTimeout(() => {
        this.map.fitBounds(imageBounds);
        imageOverlay.bringToBack();
      }, 300);
    },

    /**
     * Remove markers from the map
     * only if they're not present in imagePoints
     */
    cleanImageMarkers() {
      this.imageMarkers.forEach((m, markerIndex) => {
        const lp = this.imagePoints.find(i => i.instance === m.instance);
        if (lp === undefined) {
          /**
           * if the current lp matching marker was the selected one
           * (and so the popup displayed on the right)
           * we reset it to hide the popup
           */
          if (
            this.selectedPoint
            && m.instance === this.selectedPoint.instance
          ) {
            this.selectedPoint = null;
          }
          m.marker.removeFrom(this.map);
          this.imageMarkers.splice(markerIndex, 1);
        } else {
          updateMarkerColor(m.marker, lp.marker);
        }
      });
    },

    /**
     * Display only the imagePoints missing
     * add them in markers array if missing
     */
    displayMissingImagePoints() {
      this.imagePoints.forEach((lp) => {
        let marker = this.imageMarkers.find(m => m.instance === lp.instance);
        /**
         * if no marker is found, create it and add it to this.imageMarkers array
         */
        if (!marker) {
          // eslint-disable-next-line radix
          const isSelected = parseInt(this.selectedAlarm) === parseInt(lp.instance);
          marker = {
            id: lp.location,
            instance: lp.instance,
            marker: L.marker([lp.y, lp.x], {
              icon: getMarkerIcon({
                ...lp.marker,
                // we add selected in className to make the marker bigger
                // same thing than the selectMarker method
                className: lp.marker.className + (isSelected ? ' selected' : ''),
              }),
            }).addTo(this.map)
              .on('click', () => {
                this.selectMarker(lp.instance);
                this.selectedPoint = lp;
                this.$emit('input', lp.instance);
              }),
          };
          this.imageMarkers.push(marker);
        }
        if (
          this.selectedPoint
          && marker.instance === this.selectedPoint.instance
        ) {
          this.selectedPoint = lp;
        }
      });
    },

    removePolygons() {
      this.layers.polygons.forEach((polygon) => {
        polygon.removeFrom(this.map);
      });
      this.layers.polygons = [];
      this.layers.markers.forEach((m) => {
        m.removeFrom(this.map);
      });
      this.layers.markers = [];
    },

    displayPolygons() {
      let bbox;
      this.polygons.forEach((polygon) => {
        const isLayerClickable = polygon.child_image_id !== '0';
        const geom = JSON.parse(polygon.geom);
        const layer = L.polygon(geom, {
          interactive: isLayerClickable,
        }).addTo(this.map);

        // Compute the ploygons bbox
        if (bbox) {
          bbox.extend(layer.getBounds());
        } else {
          bbox = layer.getBounds();
        }
        // Store the polygon's centroid to display events on it
        // eslint-disable-next-line no-param-reassign
        polygon.center = layer.getBounds().getCenter();
        if (polygon.label) {
          this.layers.markers.push(
            L.marker(polygon.center, {
              icon: getMarkerIcon({
                isCluster: true,
                label: polygon.label,
              }),
              interactive: false,
            }).addTo(this.map),
          );
        }

        this.setDataToShape(polygon, layer);
        layer.setStyle({ color: polygon.color });
        // we allow the user to click on a polygon only if the child_image_id is correct
        if (isLayerClickable) {
          layer.on('click', (e) => {
            this.$emit('click-polygon', e.target.properties.child_image_id);
          });
        }
        this.layers.polygons.push(layer);
      });

      if (bbox && this.isGeo && !this.hasAlreadyBeenFitted) {
        this.map.fitBounds(bbox);
        this.hasAlreadyBeenFitted = true;
      }
    },

    setDataToShape(data, shape) {
      // eslint-disable-next-line no-param-reassign
      shape.properties = data;
    },

    selectMarker(instance) {
      this.imageMarkers.concat(this.geoMarkers).forEach((m) => {
        if (m.marker._icon) {
          // eslint-disable-next-line no-param-reassign
          m.marker._icon.className = m.marker._icon.className.replace(/ selected/gi, '');
        }
        if (m.instance === instance) {
          if (m.marker._icon) {
            // eslint-disable-next-line no-param-reassign
            m.marker._icon.className += ' selected';
          }
        }
      });
    },

  },
  watch: {
    image: {
      immediate: true,
      handler(newValue) {
        if (!newValue || !this.map) return;
        this.resetMap();
        this.loadImage();
      },
    },
    imagePoints: {
      immediate: true,
      handler(newValue) {
        if (!this.isGeo) {
          if (!newValue || !this.map) return;
          this.cleanImageMarkers();
          this.displayMissingImagePoints();
        }
      },
    },
    selectedAlarm: {
      immediate: true,
      handler(newValue, oldValue) {
        if (!newValue || !this.map) return;
        if (newValue === oldValue) return;

        this.selectMarker(this.selectedAlarm);
      },
    },
    polygons: {
      immediate: true,
      handler(newValue) {
        if (!newValue || !this.map) return;
        this.removePolygons();
        this.displayPolygons();
      },
    },
  },
};
</script>

<style>
@import './custom-markers.css';

.leaflet-container {
  background-color: white;
}
.map {
  width: 100%;
  height: calc(100%);
}
.leaflet-top {
  top: 50px;
}
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  border-radius: 2px;
  box-shadow: 0 1px 10px rgba(0,0,0,0.4)
}
.leaflet-popup-content-wrapper {
  width: 390px;
}

</style>
