<template>
  <v-form ref="form" @submit.prevent="submitForm">
    <v-label>
      <v-text-field
        :label="$t('form.login')"
        v-model="form.login"
        clearable
        prepend-icon="person"
        required
      >Email</v-text-field>
    </v-label>
    <v-label>
      <v-text-field
        :label="$t('form.password')"
        v-model="form.password"
        clearable
        required
        prepend-icon="lock"
        type="password"
      >Password</v-text-field>
    </v-label>
    <p class="text-xs-center red--text">
      {{error}}
    </p>
    <p class="text-xs-center red--text">
      {{message}}
    </p>
    <v-btn
      color="primary"
      type="submit"
    >{{ $t('form.button') }}</v-btn>
  </v-form>
</template>

<script>
export default {
  props: {
    error: {
      default: null,
      type: String,
    },
    message: {
      default: null,
      type: String,
    },
  },
  data: () => ({
    form: {
      login: '',
      password: '',
    },
  }),
  methods: {
    submitForm() {
      this.$emit('submit', this.form);
    },
  },
};
</script>

<style>

</style>
