<template>
  <v-app>
    <v-toolbar app>
      <v-toolbar-title class="headline text-uppercase">
        <router-link to='/'>TP MWS</router-link>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn flat to='/list'>LIST</v-btn>
        <v-btn
          flat
          v-for="lang in langs"
          :key="lang"
          @click="$i18n.locale = lang"
        >{{ lang }}</v-btn>
        <v-btn flat to='/visualization'>Dashboard</v-btn>
        <v-btn flat to='/'>Home</v-btn>
      </v-toolbar-items>
    </v-toolbar>

    <v-content>
      <v-container>
        <router-view/>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>

export default {
  name: 'App',
  data() {
    return {
      langs: ['fr', 'en'],
    };
  },
};
</script>
